<h5>@articleDto.Name</h5>
@articleDto.Text
<br />
Автор: @articleDto.LoginUser
<br />
Время публикации на сервере: @articleDto.CreationDate
<NavLink class="nav-link" href="@articleId">
    Читать дальше
</NavLink>
@code {
    [Parameter]
    public ArticleDto articleDto { get; set; }
    string articleId;
    protected override void OnInitialized()
    {
        Console.WriteLine("*********** ArticleDto.OnInitialized()" + articleDto.Name);
        Console.WriteLine("ArticleDto.Id is " + articleDto.Id);
        articleId = $"/article/{articleDto.Id}";
    }

}
